.section1AboutUs {
  width: 100%;
  position: relative;
  padding: 40px;
}

.aboutUsTitle {
  color: #a6ff35;
  text-align: center;
  text-shadow: 0px 4px 36px rgba(0, 0, 0, 0.53);
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 24px;
  text-transform: uppercase;
}
.aboutUsSection1Card {
  padding-top: 2rem;
  position: relative;
  z-index: 0;
}

/* ...section 2... */
.aboutsec-flex-main {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.vision-img img {
  border-radius: 94px;
  box-shadow: 0px 4px 172px 0px rgba(29, 5, 151, 0.31) inset;
  flex-shrink: 0;
  transition: all 0.15s ease-in-out;
  width: 100%;
  height: 355px;
  flex-shrink: 0;
  cursor: pointer;
}
.vision-img img:hover {
  transform: scale(1.1);
}
/* ...section 3... */

.section3-aboutUs {
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.about-img-flex {
  display: flex;
  justify-content: flex-start;
}
.about-sec3-hero {
  position: relative;
}
.about-sec3-flex2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-sec3-flex3 {
  display: flex;
  align-items: flex-start;
  justify-content: end;
}
.about-sec3-flex4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 2rem;
}

/* ...section 4... */
.section4-aboutUs {
  padding: 100px 0px;
}
.sec4-about-heading {
  color: #00ffd1;
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}

/* ,...........responsive design................ */

@media only screen and (max-width: 1200px) {
  .section1AboutUs {
    width: 100%;
    position: relative;
    padding: 25px;
  }
  .aboutUsTitle {
    font-size: 3rem;
  }
  .about-sec3-flex3 {
    margin-left: 3rem;
  }
  .about-sec3-flex4 {
    margin-left: -10rem;
  }
  .union {
    width: 90%;
  }

  .union1 {
    height: 90%;
  }
  .aboutUsSection1Card {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 991px) {
  .aboutUsTitle {
    font-size: 3rem;
  }
  .sec4-about-heading {
    color: #fff;
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 768px) {
  .aboutUsTitle {
    font-size: 2.5rem;
    letter-spacing: 19px;
  }
  .section3-aboutUs {
    padding-top: 2rem;
  }
  .section4-aboutUs {
    padding: 0px;
  }
  .aboutUsSection1Card {
    font-size: 12px;
    left: 1px;
    line-height: 130%;
  }
  .sec4-about-heading {
    font-size: 2rem;
    letter-spacing: 7px;
    color: #0ff;
    margin-bottom: 20px !important;
  }
  .union1 {
    height: 80%;
  }
}
@media only screen and (max-width: 576px) {
  .aboutUsTitle {
    font-size: 2rem;
    letter-spacing: 11px;
  }
  .aboutUsSection1Card {
    padding-top: 0rem;
  }
  .sec4-about-heading {
    font-size: 1.5rem;
  }

  .journey-image-div {
    margin-bottom: -15rem;
  }
  .union1 {
    height: 67%;
  }
}
@media only screen and (max-width: 515px) {
  .union1 {
    height: 67% !important;
  }
}
@media only screen and (max-width: 425px) {
  .section1AboutUs {
    width: 100%;
    position: relative;
    padding: 0px;
  }
  .section3-aboutUs {
    padding-bottom: 0rem !important;
    padding-top: 2rem;
  }
  .section4-aboutUs {
    padding: 0px;
  }
  .sec4-about-heading {
    font-size: 20px;
    width: 200px;
    color: #00ffd1;
    letter-spacing: 5px;
    line-height: 150%;
    margin: 0 auto;
  }
  .union1 {
    height: 73%;
  }
  .aboutUsSection1Card {
    font-size: 13px;
    line-height: 130%;
  }
}
