.component-1-icon {
  position: relative;
  width: 96rem;
  height: 225.06rem;
}
.daoLi::marker {
  color: #00ffd1;
  font-size: 20px;
  padding: 10px;
}
.daoLi {
  padding: 0px 10px;
}
.daomainbg {
  background: url("../assets/images/daobg.webp");
  max-width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.transparent-light-1-3 {
  position: relative;
  width: 22.63rem;
  height: 12.69rem;
  object-fit: cover;
}
.component-1-parent {
  position: absolute;
  top: 249rem;
  right: -157.56rem;
  width: 119.44rem;
  height: 248.44rem;
  display: flex;
  flex-direction: row;
  padding: 0.63rem;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.63rem;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.transparent-light-1-4 {
  position: absolute;
  top: 1.31rem;
  left: 1.19rem;
  width: 16.13rem;
  height: 2.81rem;
  object-fit: cover;
}
.dao-roadmap-child {
  position: absolute;
  top: 0;
  left: 35.5rem;
  border-radius: 0 0 0 85px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 40px rgba(0, 0, 0, 0.25);
  width: 60.5rem;
  height: 5.5rem;
}
.dao-roadmap-item {
  position: absolute;
  top: 0;
  left: 81.75rem;
  width: 6.31rem;
  height: 4.15rem;
}
.box-icon {
  position: absolute;
  top: 0.81rem;
  left: 70.56rem;
  width: 1.75rem;
  height: 1.75rem;
  object-fit: cover;
  cursor: pointer;
}

.dao-roadmap1,
.programs {
  left: 68.19rem;
  text-transform: uppercase;
  cursor: pointer;
}
.dao-roadmap1 {
  left: 80.56rem;
  color: #00ffd1;
}

.information-icon {
  top: 1rem;
  left: 58.19rem;
  width: 1.38rem;
  height: 1.38rem;
}
.road-map-1-icon {
  position: absolute;
  height: 0.51%;
  width: 1.63%;
  top: 0.35%;
  right: 10.74%;
  bottom: 99.14%;
  left: 87.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.illustration141 {
  width: 100%;
  height: auto;
}

.ml-img8 {
  display: none;
}
.daoroadmap2,
.weEnvisionA {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  line-height: 150.023%; /* 36.005px */
  letter-spacing: 1.8px;
}
.daoroadmap2 {
  color: #a6ff35;
  text-shadow: 0px 4px 36px rgba(0, 0, 0, 0.53);
  font-family: "Josefin Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 174.523%;
  letter-spacing: 19.2px;
  width: 842px;
  text-transform: uppercase;
}
.daoroadmapInner {
  position: relative;
  top: 0;
  right: 10px;
  height: 90.19rem;
}
.rectangle-div {
  position: absolute;
  top: 14.75rem;
  left: 57.63rem;
  border-radius: var(--br-3xl);
  background: linear-gradient(
    92.07deg,
    rgba(255, 255, 255, 0.24),
    rgba(255, 255, 255, 0.14)
  );
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  width: 24.81rem;
  /* height: 4.94rem; */
  text-align: initial;
  padding: 30px;
}
.foundation-phase {
  position: absolute;
  top: 91.94rem;
  left: 56.13rem;
  font-size: var(--font-size-9xl);
  letter-spacing: 0.08em;
  line-height: 150.02%;
  font-weight: 600;
  color: var(--color-greenyellow);
  text-align: center;
}

.dao-roadmap-child1 {
  position: absolute;
  top: 32.44rem;
  left: 17.69rem;
  border-radius: var(--br-3xl);
  background: linear-gradient(
    92.07deg,
    rgba(255, 255, 255, 0.24),
    rgba(255, 255, 255, 0.14)
  );
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  width: 24.81rem;
  /* height: 4.94rem; */
  padding: 30px;
  text-align: right;
}
.development-design {
  position: absolute;
  top: 109.63rem;
  left: 12.06rem;
  font-size: var(--font-size-9xl);
  letter-spacing: 0.08em;
  line-height: 150.02%;
  font-weight: 600;
  color: var(--color-greenyellow);
}
.dao-roadmap-child2 {
  position: absolute;
  top: 50.63rem;
  left: 57.63rem;
  border-radius: var(--br-3xl);
  background: linear-gradient(
    92.07deg,
    rgba(255, 255, 255, 0.24),
    rgba(255, 255, 255, 0.14)
  );
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  width: 24.81rem;
  /* height: 4.94rem; */
  text-align: left;
  padding: 30px;
}
.implementation-phase {
  position: absolute;
  top: 127.81rem;
  left: 56.13rem;
  font-size: var(--font-size-9xl);
  letter-spacing: 0.08em;
  line-height: 150.02%;
  font-weight: 600;
  color: var(--color-greenyellow);
  text-align: center;
}
.dao-roadmap-child3 {
  position: absolute;
  top: 68.31rem;
  left: 17.69rem;
  border-radius: var(--br-3xl);
  background: linear-gradient(
    92.07deg,
    rgba(255, 255, 255, 0.24),
    rgba(255, 255, 255, 0.14)
  );
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  width: 24.81rem;
  /* height: 4.94rem; */
  padding: 30px;
  text-align: right;
}
.iteration-enhancement {
  position: absolute;
  top: 145.5rem;
  left: 9.88rem;
  font-size: var(--font-size-9xl);
  letter-spacing: 0.08em;
  line-height: 150.02%;
  font-weight: 600;
  color: var(--color-greenyellow);
}
.dao-roadmap-child4 {
  position: absolute;
  top: 85.5rem;
  left: 57.63rem;
  border-radius: var(--br-3xl);
  background: linear-gradient(
    92.07deg,
    rgba(255, 255, 255, 0.24),
    rgba(255, 255, 255, 0.14)
  );
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  width: 30.94rem;
  height: 4.94rem;
  width: 24.81rem;

  text-align: left;
  padding: 30px;
}
.full-decentralization-phase {
  position: absolute;
  top: 163.69rem;
  left: 56.13rem;
  font-size: var(--font-size-9xl);
  letter-spacing: 0.08em;
  line-height: 150.02%;
  font-weight: 600;
  color: var(--color-greenyellow);
  text-align: center;
}
.dao-roadmap-child5 {
  position: absolute;
  top: 104.19rem;
  left: 17.69rem;
  border-radius: var(--br-3xl);
  background: linear-gradient(
    92.07deg,
    rgba(255, 255, 255, 0.24),
    rgba(255, 255, 255, 0.14)
  );
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  width: 36.44rem;
  height: 4.94rem;
  width: 24.81rem;
  /* height: 4.94rem; */
  padding: 30px;
  text-align: right;
}
.review-future {
  position: absolute;
  top: 181.38rem;
  left: 8.63rem;
  font-size: var(--font-size-9xl);
  letter-spacing: 0.08em;
  line-height: 150.02%;
  font-weight: 600;
  color: var(--color-greenyellow);
}
.footer-box72x-2 {
  position: absolute;
  top: 1.69rem;
  left: 0.69rem;
  width: 96.88rem;
  height: 16.81rem;
  object-fit: cover;
}
.line-2-stroke {
  position: absolute;
  top: 8.5rem;
  left: 8.19rem;
  width: 79.69rem;
  height: 0.06rem;
}
.transparent-light-1-31 {
  position: absolute;
  top: 0;
  left: 6.56rem;
  width: 18.13rem;
  height: 10.13rem;
  object-fit: cover;
}

.design-33-1 {
  top: 5.5rem;
  left: 60rem;
  width: 21.56rem;
  height: 38.13rem;
}
.dao-roadmap-child6 {
  position: absolute;
  top: 66.38rem;
  left: 54.56rem;
  background-color: var(--color-greenyellow);
  width: 26rem;
  height: 4.31rem;
}
.roadmap {
  color: #0a11b5;
}
.lamproslabsroadmapcontainer {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 32px rgba(0, 0, 0, 0.29);

  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 174.523%; /* 83.771px */
  letter-spacing: 19.2px;
  text-transform: uppercase;
}

.lamproslabsroadmapcontainer span {
  color: #0a11b5;
  background-color: #a6ff35;
  font-size: 45px;
  font-style: normal;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  line-height: 174.523%;
  letter-spacing: 19.2px;
  text-transform: uppercase;
}
.dao-concept-introduction,
.feasibility-analysis {
  position: absolute;
  left: 1.63rem;
  letter-spacing: 0.08em;
  line-height: 150.02%;
}
.dao-concept-introduction {
  top: 0;
}
.feasibility-analysis {
  top: 4.5rem;
  display: inline-block;
  width: 22.25rem;
  height: 1.94rem;
}
.group-child,
.group-inner,
.group-item {
  position: absolute;
  top: 0.75rem;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-aqua);
  width: 0.88rem;
  height: 0.25rem;
}
.group-inner,
.group-item {
  top: 3.06rem;
}
.group-inner {
  top: 5.38rem;
}
.community-brainstorming {
  position: absolute;
  top: 2.25rem;
  left: 1.63rem;
  letter-spacing: 0.08em;
  line-height: 150.02%;
}
.dao-concept-introduction-parent {
  position: absolute;
  top: 97.06rem;
  left: 56.13rem;
  width: 23.88rem;
  height: 6.44rem;
  text-align: left;
}
.community-feedback-and,
.dao-framework-formulation,
.periodic-operational-review {
  position: absolute;
  top: 114.31rem;
  left: 15.13rem;
  letter-spacing: 0.08em;
  line-height: 150.02%;
}
.community-feedback-and,
.periodic-operational-review {
  top: 150.38rem;
  left: 7.5rem;
}
.periodic-operational-review {
  top: 186.13rem;
  left: 15.5rem;
}
.pilot-dao-launch {
  margin: 0;
}
.pilot-dao-launch-container,
.proposal-mechanisms-initiated-container,
.staying-ahead-in {
  position: absolute;
  top: 118.81rem;
  left: 15.38rem;
  letter-spacing: 0.08em;
  line-height: 150.02%;
  display: inline-block;
  width: 22.25rem;
  height: 1.94rem;
}
.proposal-mechanisms-initiated-container,
.staying-ahead-in {
  top: 154.88rem;
  left: 12.5rem;
  width: 25.13rem;
}
.staying-ahead-in {
  top: 190.63rem;
  left: 7.5rem;
  width: 30.13rem;
}
.dao-roadmap-child7,
.dao-roadmap-child8,
.dao-roadmap-child9 {
  position: absolute;
  top: 115.25rem;
  left: 38.38rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-aqua);
  width: 0.88rem;
  height: 0.25rem;
}
.dao-roadmap-child8,
.dao-roadmap-child9 {
  top: 151.31rem;
}
.dao-roadmap-child9 {
  top: 187.06rem;
}
.dao-roadmap-child10,
.dao-roadmap-child11,
.dao-roadmap-child12,
.dao-roadmap-child13,
.dao-roadmap-child14,
.dao-roadmap-child15 {
  position: absolute;
  top: 117.56rem;
  left: 38.38rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-aqua);
  width: 0.88rem;
  height: 0.25rem;
}
.dao-roadmap-child11,
.dao-roadmap-child12,
.dao-roadmap-child13,
.dao-roadmap-child14,
.dao-roadmap-child15 {
  top: 153.63rem;
}
.dao-roadmap-child12,
.dao-roadmap-child13,
.dao-roadmap-child14,
.dao-roadmap-child15 {
  top: 189.38rem;
}
.dao-roadmap-child13,
.dao-roadmap-child14,
.dao-roadmap-child15 {
  top: 119.88rem;
}
.dao-roadmap-child14,
.dao-roadmap-child15 {
  top: 155.94rem;
}
.dao-roadmap-child15 {
  top: 191.69rem;
}
.technical-architecture-design {
  position: absolute;
  top: 116.56rem;
  left: 14.56rem;
  letter-spacing: 0.08em;
  line-height: 150.02%;
}
.community-led-growth-and,
.continuous-learning-modules,
.future-goal-outlining {
  position: absolute;
  top: 152.63rem;
  left: 14.44rem;
  letter-spacing: 0.08em;
  line-height: 150.02%;
}
.community-led-growth-and,
.future-goal-outlining {
  top: 188.38rem;
  left: 20.5rem;
}
.community-led-growth-and {
  top: 4.5rem;
  left: 1.63rem;
  display: inline-block;
  width: 31.06rem;
  height: 1.94rem;
}
.complete-operational-transitio-parent,
.governance-token-issuance-parent {
  position: absolute;
  top: 169.5rem;
  left: 56.13rem;
  width: 33.69rem;
  height: 6.44rem;
  text-align: left;
}
.governance-token-issuance-parent {
  top: 133.56rem;
  width: 23.88rem;
}
.design-34-1 {
  position: absolute;
  top: 133.56rem;
  left: 87.44rem;
  width: 26.31rem;
  height: 21.88rem;
  object-fit: cover;
}
.dao-roadmap {
  width: 100%;

  text-align: right;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
/* ................custom css */
.daosec1main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customlist {
  list-style: none; /* Remove default list styles */
  padding-left: 20px; /* Add some left padding for better spacing */
}

.customlist li::after {
  content: " -"; /* Set the desired character or symbol */
  color: #00ffd1; /* Set the color for the character */
  font-weight: bold; /* Make the character bold if needed */
  /* Adjust the spacing between the text and the character */
}
.daosec1flex1 {
  width: 40%;
  margin: 0 auto;
}

.daosec1flex2 {
  width: 40%;
}
.daosec2main {
  position: relative;
}
.daobox1main {
  position: absolute;
  top: 22%;
  left: 15%;
}

.daobox2main {
  position: absolute;
  top: 54%;
  left: 9%;
}

.daobox3main {
  position: absolute;
  top: 85%;
  left: 8%;
}
.daobox4main {
  position: absolute;
  top: 6%;
  right: 9%;
}
.daobox5main {
  position: absolute;
  top: 38%;
  right: 6.5%;
}
.daobox6main {
  position: absolute;
  top: 70%;
  right: 9%;
}
.daosec2main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0px;
}
.daoboxheading {
  color: #a6ff35;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 75.023%; /* 42.006px */
  letter-spacing: 2.1px;
  border-radius: 22px;
  background: linear-gradient(
    92deg,
    rgba(255, 255, 255, 0.24) 10.27%,
    rgba(255, 255, 255, 0.14) 88.82%
  );
  backdrop-filter: blur(2px);
  padding: 25px;
}
.daoboxheading:hover {
  background-color: #fff;
  color: #1a0f5e;
}
.daoboxpera {
  color: #fff;
  text-align: right;
  padding: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150.023%; /* 36.005px */
  letter-spacing: 1.8px;
}
.daoboxpera1 {
  color: #fff;
  text-align: left;
  padding: 20px;
  font-size: 20px;
  font-style: normal;
  list-style-type: "-";
  font-weight: 400;
  line-height: 150.023%; /* 36.005px */
  letter-spacing: 1.8px;
}
.daoboxpera1 span {
  color: #00ffd1;
  padding: 5px;
}
.daoboxpera span {
  color: #00ffd1;
  padding: 5px;
}
.mobileImg7 {
  display: none;
}

/* .........responsive css................... */

@media only screen and (max-width: 1200px) {
  .daosec1main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .daosec1flex1 {
    width: 45%;
    margin: 0 auto;
  }
  .daosec1flex2 {
    width: 40%;
  }
  .daosec2main {
    position: relative;
  }
  .daobox1main {
    position: absolute;
    top: 23%;
    left: 13%;
  }
  .daobox2main {
    position: absolute;
    top: 54%;
    left: 7%;
  }
  .daobox3main {
    position: absolute;
    top: 85%;
    left: 6%;
  }
  .daobox4main {
    position: absolute;
    top: 6%;
    right: 2%;
  }
  .design-32-1 {
    top: 30.31rem;
    left: 0;
    width: 25.83rem;
    height: 45.06rem;
  }
  .daobox5main {
    position: absolute;
    top: 38%;
    right: 0;
  }

  .daobox6main {
    position: absolute;
    top: 70%;
    right: 3%;
  }
  .daosec2main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0px;
  }
  .daoboxheading {
    color: #a6ff35;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150.023%;
    letter-spacing: 2.1px;
    border-radius: 22px;
    background: linear-gradient(
      92deg,
      rgba(255, 255, 255, 0.24) 10.27%,
      rgba(255, 255, 255, 0.14) 88.82%
    );
    -webkit-backdrop-filter: blur(2px);
    width: 350px;
    backdrop-filter: blur(2px);
    padding: 15px;
  }
  .daoboxpera {
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.023%; /* 36.005px */
    letter-spacing: 1.8px;
  }
  .daoboxpera1 {
    color: #fff;
    text-align: left;
    padding: 18px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.023%; /* 36.005px */
    letter-spacing: 1.8px;
  }
  .daoboxpera1 span {
    color: #00ffd1;
    padding: 5px;
  }
  .daoboxpera span {
    color: #00ffd1;
    padding: 5px;
  }
  .daoroadmap2 {
    color: #a6ff35;
    text-shadow: 0px 4px 36px rgba(0, 0, 0, 0.53);
    font-size: 35px;
    font-style: normal;
    text-align: left;
    font-weight: 600;
    line-height: 174.523%;
    letter-spacing: 10.2px;
    text-transform: uppercase;
  }

  .weEnvisionA {
    color: #fff;
    font-size: 19px;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    padding: 10px 0px;
    line-height: 150.023%;
    letter-spacing: 1.5px;
  }
  .lamproslabsroadmapcontainer span {
    color: #0a11b5;
    background-color: #a6ff35;
    font-size: 35px;
    font-style: normal;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    line-height: 174.523%;
    letter-spacing: 10.2px;
    text-transform: uppercase;
  }

  .lamproslabsroadmapcontainer {
    color: #fff;
    text-align: center;
    text-shadow: 0px 4px 32px rgba(0, 0, 0, 0.29);
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 174.523%;
    letter-spacing: 10.2px;
    text-transform: uppercase;
  }

  .design311 {
    top: 0;
    left: 0;
    width: 23.03rem;
    height: 26.92rem;
  }
  .mobileImg7 {
    display: none;
  }
  .ml-img8 {
    display: none;
  }
}

@media (max-width: 992px) {
  .daoroadmap2 {
    color: #a6ff35;
    text-shadow: 0px 4px 36px rgba(0, 0, 0, 0.53);
    font-size: 30px;
    font-style: normal;
    text-align: left;
    font-weight: 600;
    line-height: 174.523%;
    letter-spacing: 5.2px;
    text-transform: uppercase;
  }
  .weEnvisionA {
    color: #fff;
    font-size: 17px;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    padding: 10px 0px;
    line-height: 150.023%;
    letter-spacing: 1px;
  }
  .lamproslabsroadmapcontainer {
    color: #fff;
    text-align: center;
    text-shadow: 0px 4px 32px rgba(0, 0, 0, 0.29);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 200.523%;
    letter-spacing: 8.2px;
    text-transform: uppercase;
  }
  .lamproslabsroadmapcontainer span {
    color: #0a11b5;
    background-color: #a6ff35;
    font-size: 25px;
    font-style: normal;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    line-height: 174.523%;
    letter-spacing: 8.2px;
    text-transform: uppercase;
  }

  .daoboxheading {
    color: #a6ff35;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150.023%;
    letter-spacing: 1.1px;
    border-radius: 22px;
    background: linear-gradient(
      92deg,
      rgba(255, 255, 255, 0.24) 10.27%,
      rgba(255, 255, 255, 0.14) 88.82%
    );
    -webkit-backdrop-filter: blur(2px);
    width: 381px;
    backdrop-filter: blur(2px);
    padding: 15px 0px;
  }
  .daoboxpera1 {
    color: #fff;
    text-align: left;
    padding: 18px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.023%;
    letter-spacing: 1.2px;
  }
  .daoboxpera {
    color: #fff;
    text-align: right;
    padding: 18px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.023%;
    letter-spacing: 1.2px;
  }
  .daobox4main {
    position: absolute;
    top: 6%;
    right: 5%;
  }
  .daobox5main {
    position: absolute;
    top: 38%;
    right: 5%;
  }
  .daobox6main {
    position: absolute;
    top: 70%;
    right: 5%;
  }
  .daobox3main {
    position: absolute;
    top: 85%;
    left: 3%;
  }
  .daobox2main {
    position: absolute;
    top: 54%;
    left: 5%;
  }
  .daobox1main {
    position: absolute;
    top: 23%;
    left: 5%;
  }

  .ml-img8 {
    display: none;
  }
}

@media (max-width: 860px) {
  .daobox3main {
    left: -2% !important;
  }
  .daoboxstyleleft {
    left: 0%;
  }
  .daoboxstyleright {
    right: 0%;
  }
}
@media (max-width: 768px) {
  .daoroadmap2 {
    color: #a6ff35;
    text-shadow: 0px 4px 36px #000;
    width: 250px;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 174.523%;
    letter-spacing: 11px;
    text-transform: uppercase;
  }
  .daorightImg1 {
    position: absolute;
    top: 83%;

    right: -30px;
    width: 30%;
  }
  .daorightImg2 {
    display: none !important;
  }
  .daorightImg3 {
    display: none !important;
  }
  .daosec1flex1 {
    margin: 0;
    padding-left: 36px;
    width: 75%;
    position: relative;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  .mobiledaoImg {
    position: absolute;
    top: -70px;
    right: -33.25%;
  }
  .mobileImg7 {
    width: 100%;
    display: block;
  }
  .design311 {
    display: none;
  }

  .mobileheadingleftImage {
    position: absolute;
    top: -150%;
    right: 0%;
    width: 270px;
  }
  .illustration141 {
    display: none;
  }
  .design-32-1 {
    display: none !important;
  }
  .weEnvisionA {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.023%;
    letter-spacing: 1.9px;
    width: 100%;
  }
  .lamproslabsroadmapcontainer {
    color: #fff;
    text-align: left;
    margin-left: 36px;
    text-shadow: 0px 4px 32px rgba(0, 0, 0, 0.29);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 200.523%;
    letter-spacing: 8.2px;
    text-transform: uppercase;
    position: relative;
  }
  .lamproslabsroadmapcontainer span {
    color: #0a11b5;
    background-color: #a6ff35;
    font-size: 25px;
    font-style: normal;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    line-height: 174.523%;
    letter-spacing: 8.2px;
    text-transform: uppercase;
  }
  .design311 {
    top: -64px;
    left: 0;
    width: 20.03rem;
    height: 20.92rem;
  }
  .daoboxheading {
    color: #a6ff35;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 150.023%;
    letter-spacing: 1.1px;
    border-radius: 22px;
    background: linear-gradient(
      92deg,
      rgba(255, 255, 255, 0.24) 10.27%,
      rgba(255, 255, 255, 0.14) 88.82%
    );
    -webkit-backdrop-filter: blur(2px);
    width: 300px;
    backdrop-filter: blur(2px);
    padding: 15px 0px;
  }
  .daoboxpera1 {
    color: #fff;
    text-align: left;
    padding: 18px 0px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    list-style-type: "-";
    line-height: 150.023%;
    letter-spacing: 1.2px;
  }
  .daoboxpera {
    color: #fff;
    text-align: left;
    padding: 18px 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.023%;
    letter-spacing: 1.2px;
    list-style-type: "-";
  }
  .daoLi::marker {
    color: #00ffd1;
    font-size: 20px;
    padding: 10px;
  }
  .daoLi {
    padding: 0px 10px;
  }

  .daobox4main {
    position: absolute;
    top: 6%;
    left: 10%;
  }
  .daobox5main {
    position: absolute;
    top: 38%;
    left: 10%;
  }
  .daobox6main {
    position: absolute;
    top: 70%;
    left: 10%;
  }
  .daobox3main {
    position: absolute;
    top: 85%;
    left: 7% !important;
  }
  .daobox2main {
    position: absolute;
    top: 54%;
    left: 10%;
  }
  .daobox1main {
    position: absolute;
    top: 23%;
    left: 10%;
  }
  .design-32-1 {
    top: 30.31rem;
    left: 0;
    width: 21.83rem;
    height: 36.06rem;
  }
  .daosec2main {
    display: flex;
    margin: 50px 30px;
    align-items: center;
    justify-content: flex-start;
  }

  .customlist li::after {
    display: none;
  }

  .daofooterImg {
    position: absolute;
    bottom: 0;
    right: -30px;
    width: 150px;
  }
}
@media (max-width: 576px) {
  .mobileheadingleftImage {
    position: absolute;
    top: -120%;
    right: 0%;
    width: 180px;
  }

  .lamproslabsroadmapcontainer {
    font-size: 20px;
  }
  .daofooterImg {
    position: absolute;
    bottom: -20px;
    right: -30px;
    width: 100px;
  }
  .cursor {
    display: none;
  }
}
@media (max-width: 425px) {
  .cursor {
    display: none;
  }
  .daoroadmap2 {
    color: #a6ff35;
    text-shadow: 0px 4px 36px #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    width: 100%;
    line-height: 174.523%;
    letter-spacing: 5px;
    text-transform: uppercase;

    position: relative;
  }
  .daosec1flex1 {
    margin: 0;
    padding: 0px 36px;
    width: 100%;
    position: relative;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  .mobiledaoImg {
    position: absolute;
    top: 0px;
    right: -33.25%;
    display: none;
  }
  .daoboxpera1 {
    color: #fff;
    text-align: left;
    padding: 18px 0px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    list-style-type: "-";
    line-height: 150.023%;
    letter-spacing: 1.2px;
  }
  .daoboxheading {
    color: #a6ff35;
    text-align: left;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 130.023%;
    letter-spacing: 1.1px;
    border-radius: 22px;
    background: linear-gradient(
      92deg,
      rgba(255, 255, 255, 0.24) 10.27%,
      rgba(255, 255, 255, 0.14) 88.82%
    );
    -webkit-backdrop-filter: blur(2px);
    width: 278px;
    backdrop-filter: blur(2px);
    padding: 15px;
  }
  .weEnvisionA {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
    line-height: 130.023%;
    letter-spacing: 1px;
  }

  .mobileheadingleftImage {
    position: absolute;
    top: -80%;
    right: 0%;
    width: 150px;
  }

  .lamproslabsroadmapcontainer {
    color: #fff;
    text-align: left;
    text-shadow: 0px 4px 32px rgba(0, 0, 0, 0.29);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 200.523%;
    letter-spacing: 3.2px;
    text-transform: uppercase;
  }
  .lamproslabsroadmapcontainer span {
    color: #0a11b5;
    background-color: #a6ff35;
    font-size: 16px;
    font-style: normal;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    line-height: 174.523%;
    letter-spacing: 3.2px;
    text-transform: uppercase;
  }
  .daofooterImg {
    position: absolute;
    bottom: -52px;
    right: -30px;
    width: 100px;
  }

  .daobox2main {
    margin-top: 0.5rem;
  }
  .daobox6main {
    margin-top: -1.5rem;
  }
  .blob19 {
    border-radius: 100%;
    filter: blur(150px);
    z-index: -1;
    position: absolute;
    left: 25%;
    top: 93px;
    background: #1a0f5e;
    width: 300px;
    height: 300px;
    animation: liquid-gradient 3s infinite alternate;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
  }
  .blob17 {
    background: linear-gradient(180deg, #00ffb2 100%, #00ffff 100%);
    filter: blur(150.5px);
    width: 300px;
    top: 50%;
    height: 400px;
    z-index: -1;
    position: absolute;
    right: 0;
    animation: liquid-gradient 3s ease-in-out infinite;
  }
  .blob21 {
    background: linear-gradient(180deg, #00ffd1 100%, #00ffff 111.51%);
    filter: blur(180px);
    position: absolute;
    z-index: -1;
    right: 0;
    top: 240%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    animation: liquid-gradient 3s ease-in-out infinite;
  }
  .blob20 {
    display: none;
  }
  .blob18 {
    background: linear-gradient(180deg, #00ffd1 100%, #00ffff 111.51%);
    filter: blur(180px);
    z-index: -1;
    position: absolute;
    left: 12px;
    width: 400px;
    height: 300px;
    top: 138%;
    animation: liquid-gradient 3s infinite alternate;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
  }
}
