.navbar-logo {
  padding: 10px 15px;
  color: #fff;
}
.logo-img {
  width: 200px;
  height: 45px;
  flex-shrink: 0;
}
#navbarDropdown {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 15px 30px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
  margin-top: 10px;
}
#navbarNavDropdown {
  justify-content: flex-end;
  position: relative;
}
#navbarNavDropdown ul {
  padding: 0px;
  margin: 0px;
  position: relative;
}
#navbarNavDropdown .dropdown-menu {
  position: absolute; /* Set position to absolute */
  top: 102%; /* Position it below the parent */
  left: 0;
  z-index: 1000; /* Ensure it appears on top of other elements */
  border: none;
}
.nav-item:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  display: none;
  position: absolute;
}
#navbarNavDropdown ul li a i {
  margin-right: 10px;
}
#navbarNavDropdown li {
  list-style-type: none;
  float: left;
  padding: 0 10px;
}
#navbarNavDropdown ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 15px 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
  margin-top: 10px;
}
#navbarNavDropdown ul li a:hover {
  color: #0a11b5 !important;
  background-color: transparent;
  transition: all 0.7s;
  background-color: #a6ff35;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}
.nav-item.active a {
  color: #0a11b5 !important;
  background-color: transparent;
  transition: 0.7s;
  background-color: #a6ff35;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}
#navbarNavDropdown > ul > li > a:active {
  color: #0a11b5 !important;
  background-color: transparent;
  transition: all 0.7s;
  background-color: #a6ff35;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}
.navbar-nav .nav-item:active > .nav-link {
  color: #0a11b5 !important;
  background-color: transparent;
  transition: all 0.7s;
  background-color: #a6ff35;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}

#navbarNavDropdown .dropdown:not(:only-child):after {
  display: none !important;
  position: absolute;
  top: 27px;
  font-size: 14px;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}

#navbarNavDropdown .active > a:not(:only-child):after {
  transform: rotate(90deg);
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-item {
  color: #fff;
}
.navbar-toggler {
  width: 100px;
  height: 60px;
  position: relative;
  transition: 0.5s ease-in-out;
  /* // left: -10px; */
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}
.navbar.scrolled {
  background: linear-gradient(
    to right,
    rgb(233, 241, 255),
    rgb(181, 210, 254)
  ); /* Change the background color when scrolling */
}
.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 30px;
  background: #a6ff35;
  border-radius: 1px;
  opacity: 1;
  right: 30px;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}
/* when navigation is clicked */

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}
/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  margin-top: -12px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 12px;
  transform: rotate(0deg);
}

.dropdown-menu {
  background: linear-gradient(
    180deg,
    rgba(26, 15, 94, 0.48) 0%,
    rgba(0, 0, 0, 0.48) 100%
  );
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 157px 0px rgba(0, 0, 0, 0.17);
  padding: 0px;
}

.navbar-expand-lg {
  background: linear-gradient(
    180deg,
    rgba(26, 15, 94, 0.48) 0%,
    rgba(0, 0, 0, 0.48) 100%
  );
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 157px 0px rgba(0, 0, 0, 0.17);
  padding: 0px !important;
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  /* // .navbar-expand-custom .navbar-toggler {
  //   display: none;
  // } */
  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    justify-content: flex-end;
  }
}

@media (max-width: 991px) {
  #navbarNavDropdown ul li a {
    padding: 12px 30px;
  }
  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}

@media (max-width: 991px) {
  .logo-img {
    width: 200px;
    height: 45px;
    flex-shrink: 0;
  }
  #navbarNavDropdown .dropdown-menu {
    position: static; /* Set position to absolute */
    top: 110%; /* Position it below the parent */
    left: 0;
    z-index: 1000; /* Ensure it appears on top of other elements */
  }
  .hori-selector {
    width: 0px !important;
    display: none;
  }
  .dropdown-list {
    width: 100%;
    text-align: center;
    background: linear-gradient(
      180deg,
      rgba(26, 15, 94, 0.48) 0%,
      rgba(0, 0, 0, 0.48) 100%
    );
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 157px 0px rgba(0, 0, 0, 0.17);
    padding: 0px;
  }
}
