/* Skeleton Loader Container */
.skeletonList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.skeletonItem {
  height: 90px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  animation: skeleton-loading 1.5s infinite ease-in-out;
}

@keyframes skeleton-loading {
  0%, 100% {
    background-color: rgba(127, 255, 212, 0.15);
  }
  50% {
    background-color: rgba(0, 191, 255, 0.3);
  }
}

.outerdiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;

  @media (max-width: 768px) {
    padding: 40px 15px;
  }

  @media (max-width: 576px) {
    padding: 30px 10px;
  }
}

.delegationsSection {
  margin: 60px auto 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 768px) {
    margin: 40px auto 30px;
  }
}

.delegationsHeading {
  width: 100%;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aqua;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }

  @media (max-width: 576px) {
    font-size: 1.5rem;
  }
}

.delegationsContainer {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  width: 75%;
  margin: auto;
  border: 2px solid rgba(0, 255, 255, 0.215);
  padding: 40px 60px;
  border-radius: 15px;

  @media (max-width: 1050px) {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 15px;
    padding: 20px 10px;
  }
}

.delegationCard {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: linear-gradient(
    180deg,
    rgba(0, 255, 208, 0.3),
    rgba(0, 255, 208, 0.1)
  );
  border-radius: 15px;
  padding: 20px 10px;
  width: 100%;
  flex: 1;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 255, 208, 0.3);

  @media (max-width: 992px) {
    width: 80vw;
    margin: auto;
  }

  @media (max-width: 576px) {
    width: 100%;
    padding: 15px 10px;
  }
}

.delegationCard p {
  margin: 0px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }

  @media (max-width: 576px) {
    font-size: 1rem;
  }
}

.delegationCard:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 255, 208, 0.6);
}

.mentionedUsernamesStyle {
  color: orange; 
  font-weight: bold;
  text-decoration: none; 
  background-color: rgba(26, 115, 232, 0.1); 
  padding: 2px 4px; 
  border-radius: 4px; 
  transition: background-color 0.5s ease, color 0.3s ease;
}

.mentionedUsernamesStyle:hover {
  color: rgb(254, 97, 123); 
}

.mentionedHyperlinkStyle {
  color: yellow; 
  font-weight: bold;
  text-decoration: none; 
  background-color: rgba(26, 115, 232, 0.1); 
  padding: 2px 4px; 
  border-radius: 4px; 
  transition: background-color 0.5s ease, color 0.3s ease;
}

.mentionedHyperlinkStyle:hover {
  color: greenyellow; 
}

.quotedText {
  background-color: #f0f0f0;
  border-left: 7px solid #4169e1; /* Royal Blue */
  padding: 15px;
  margin: 15px 0;
  font-style: italic;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.quoteUsername {
  color: #0b8cf6;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 8px;
}

.btnGovernanceDiv {
  margin-top: 2rem;
}

.btnGovernance {
  display: inline-block;
  background-color: aqua;
  color: black;
  text-decoration: none;
  font-weight: 600;
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.btnGovernance:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.btnGovernance:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.r2 {
  padding: 5px 8px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: fit-content;
}

@media (max-width: 768px) {
  .r2 {
    font-size: 12px;
    max-width: fit-content;
    padding: 4px 6px;
  }
}

@media (max-width: 576px) {
  .r2 {
    font-size: 13px;
    max-width: fit-content;
    padding: 3px 5px;
  }
}

.for {
  background-color: #11cf56; /* Green background */
  border: 1.5px solid white; /* Green border */
  box-shadow: 4px 6px 20px rgba(0, 184, 148, 0.3); /* Green shadow */
  color: #ffffff; /* White text */
}

.against {
  background-color: #f32e2e; /* Red background */
  border: 1.5px solid white; /* Red border */
  box-shadow: 0 4px 6px rgba(214, 48, 49, 0.3); /* Red shadow */
  color: #ffffff; /* White text */
}

.abstain {
  background-color: #636e72; /* Grey background */
  border: 1.5px solid white; /* Grey border */
  box-shadow: 0 4px 6px rgba(99, 110, 114, 0.3); /* Grey shadow */
  color: #ffffff; /* White text */
}

.default {
  background-color: #2d3436; /* Default dark grey background */
  border: 1.5px solid white; /* Default dark grey border */
  box-shadow: 0 4px 6px rgba(45, 52, 54, 0.3); /* Default shadow */
  color: #ffffff; /* White text */
}

.rationaleDiv {
  margin-bottom: 1rem;
}

.rationale {
  padding: 8px 12px;
  background-color: aquamarine;
  color: black;
  border: 2px solid white;
  border-radius: 15px;
  font-size: 11px;
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  .rationale {
    padding: 6px 10px;
    font-size: 13px;
  }
}

.upperpart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 10px;

  @media (max-width: 992px) {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}

.heading {
  color: aqua;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 1.7rem;
  }

  @media (max-width: 576px) {
    font-size: 1.5rem;
  }
}

.filter {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 100;
  flex-wrap: wrap;

  @media (max-width: 992px) {
    width: 100%;
    justify-content: flex-start;
  }

  @media (max-width: 576px) {
    gap: 8px;
  }
}

.protocolButton {
  background: none;
  border: 2px solid aqua;
  box-shadow: inset 0 4px 78px 0 rgba(0, 0, 0, 0.094);
  color: aqua;
  cursor: pointer;
  margin: 0px 4px;
  padding: 8px 12px;
  border-radius: 20px;
  text-wrap: nowrap;
  display: flex;
  gap: 10px;
  align-items: center;

  @media (max-width: 576px) {
    padding: 6px 10px;
    font-size: 0.9rem;
  }
}

.protocolButton p {
  margin: 0;
  font-size: 14px;
}

.protocolButton:hover {
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0px 8px 20px rgba(0, 255, 208, 0.208);
}

.active {
  box-shadow: 0px 8px 20px rgba(0, 255, 208, 0.300);
  background: linear-gradient(
    180deg,
    rgba(0, 255, 208, 0.4),
    rgba(0, 255, 208, 0.1)
  );
}

.votelist {
  border-radius: 20px;
  background: linear-gradient(
    94deg,
    #1a0f5e 3.14%,
    rgba(16, 0, 113, 0.69) 56.11%,
    rgba(16, 0, 111, 0.51)
  );
  box-shadow: inset 0 4px 78px 0 rgba(0, 0, 0, 0.25);
  color: white;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: 4px 0px;
}

@media (max-width: 768px) {
  .votelist {
    border-radius: 15px;
  }
}

@media (max-width: 576px) {
  .votelist {
    border-radius: 12px;
  }
}

.votelist:hover {
  transform: scale(1.01);
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.35);
  border-left: 4px solid white;
}

.votes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
  height: max-content;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .votes {
    padding: 12px;
  }
}

@media (max-width: 576px) {
  .votes {
    padding: 10px;
  }
}

.left {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 80%;
  overflow: hidden;
}

@media (max-width: 992px) {
  .left {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .left {
    width: 75%;
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .left {
    width: 70%;
    gap: 8px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.content p {
  margin: 0;
}

.contentTitle {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .contentTitle {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .contentTitle {
    font-size: 1rem;
  }
}

.contentTag {
  padding: 4px 12px;
  font-size: 11px;
  background-color: #a6ff35;
  color: #1a0f5e;
  border-radius: 15px;
  margin: 8px 6px 0px 0px;
}

.arbitrumTag {
  width: 100px;
  padding: 4px 12px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .arbitrumTag {
    width: 80px;
    padding: 3px 8px;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .arbitrumTag {
    width: 78px;
    padding: 2px 6px;
    font-size: 13px;
  }
}

.ens-tag {
  color: #5AD0F5;
  border: 1.3px solid #5AD0F5;
}

.arbitrum-tag {
  color: cyan;
  border: 1.3px solid cyan;
}

.optimism-tag {
  color: #FF0420;
  border: 1.3px solid #FF0420;
}

.uniswap-tag {
  color: #f42187;
  border: 1.3px solid #f42187;
}

.votingCommon {
  font-weight: 500;
  font-size: 14px;
}

.offchain {
  padding: 4px 12px;
  color: yellow;
  border: 1.3px solid yellow;
  border-radius: 15px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: fit-content;
}

@media (max-width: 768px) {
  .offchain {
    padding: 3px 8px;
    font-size: 12px;
    max-width: fit-content;
  }
}

@media (max-width: 576px) {
  .offchain {
    padding: 2px 6px;
    font-size: 13px;
    max-width: fit-content;
  }
}

@media (max-width: 456px) {
  .offchain {
    padding: 2px 6px;
    font-size: 13px;
    max-width: fit-content;
  }
}

.onchain {
  padding: 4px 12px;
  color: rgb(245, 175, 45);
  border: 1.3px solid rgb(251, 173, 28);
  border-radius: 15px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: fit-content;
}

@media (max-width: 768px) {
  .onchain {
    padding: 3px 8px;
    font-size: 12px;
    max-width: fit-content;
  }
}

@media (max-width: 576px) {
  .onchain {
    padding: 2px 6px;
    font-size: 13px;
    max-width: fit-content;
  }
}

@media (max-width: 456px) {
  .onchain {
    padding: 2px 6px;
    font-size: 13px;
    max-width: fit-content;
  }
}

.chainDiv {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

@media (max-width: 576px) {
  .chainDiv {
    gap: 6px;
  }
}

.right {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-left: 1px solid white;
  padding: 15px;
  height: 100%;
  margin-left: 10px;
}

@media (max-width: 992px) {
  .right {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .right {
    width: 25%;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .right {
    width: 30%;
    padding: 8px;
  }
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

@media (max-width: 576px) {
  .result {
    gap: 5px;
  }
}

.r1 {
  margin: 0;
  font-size: 20px;
}

@media (max-width: 768px) {
  .r1 {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .r1 {
    font-size: 13px;
  }
}

.arrowwhite {
  padding: 10px;
  border-radius: 100%;
  border: 1px solid white;
  color: white;
  background: transparent;
  font-size: 18px;
  font-weight: 900;
}

@media (max-width: 576px) {
  .arrowwhite {
    padding: 8px;
    font-size: 16px;
  }
}

.arrowyellow {
  padding: 10px;
  border-radius: 100%;
  border: 1px solid white;
  color: white;
  background: #a6ff35;
  font-size: 18px;
  font-weight: 900;
}

@media (max-width: 576px) {
  .arrowyellow {
    padding: 8px;
    font-size: 16px;
  }
}

.belowdiv {
  padding: 10px;
  animation: slideDown 0.5s ease-in-out;
}

@media (max-width: 576px) {
  .belowdiv {
    padding: 8px;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.voter {
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.08);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .voter {
    padding: 15px;
    border-radius: 15px;
  }
}

@media (max-width: 576px) {
  .voter {
    padding: 12px;
    border-radius: 12px;
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 576px) {
  .profile {
    gap: 8px;
  }
}

.profileicon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  overflow: hidden;
  width: 30px;
  height: 30px;
}

@media (max-width: 576px) {
  .profileicon {
    width: 24px;
    height: 24px;
  }
}

.profilecontent {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 576px) {
  .profilecontent {
    gap: 6px;
  }
}

.dateline {
  color: whitesmoke;
  font-size: 14px;
}

@media (max-width: 576px) {
  .dateline {
    font-size: 12px;
  }
}

.dateVote {
  color: rgb(44, 234, 234);
  font-size: 14px;
}

@media (max-width: 576px) {
  .dateVote {
    font-size: 12px;
  }
}

.comment {
  font-size: 14px;
  text-align: justify;
  margin-top: 15px;
  border: 1.19px solid white;
  padding: 16px;
  border-radius: 9px;
}

@media (max-width: 768px) {
  .comment {
    font-size: 13px;
    padding: 12px;
  }
}

@media (max-width: 576px) {
  .comment {
    font-size: 12px;
    padding: 10px;
  }
}

.delegateNow {
  border-radius: 80px;
  border: 1px solid #a6ff35;
  background: linear-gradient(
    91deg,
    rgba(22, 14, 71, 0.85) 12.27%,
    #0008ce 96.93%
  );
  margin: 40px auto;
  box-shadow: 0px 4px 201px 0px rgba(13, 6, 57, 0.75) inset;
  flex-shrink: 0;
  width: 90%;
}

@media (max-width: 992px) {
  .delegateNow {
    border-radius: 50px;
  }
}

@media (max-width: 768px) {
  .delegateNow {
    border-radius: 30px;
    width: 95%;
  }
}

@media (max-width: 576px) {
  .delegateNow {
    border-radius: 20px;
    width: 100%;
    padding: 15px;
  }
}

.selectedProtocolName {
  font-style: italic;
  font-weight: 700;
  font-size: 1.4rem;
  color: cyan;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px cyan;
  margin: 2rem 0;
  text-align: center;
  color: #ffffff;
}

.messageTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0 0.5rem;
  color: rgb(250, 250, 101);
}

.messageText {
  font-size: 1.5rem;
  line-height: 1.5;
  color: white;
}

.delegateNowHeading {
  color: #a6ff35;
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 151.023%;
  letter-spacing: 4.4px;
  text-transform: uppercase;
  margin: 40px auto;
}

@media (max-width: 992px) {
  .delegateNowHeading {
    font-size: 2rem;
    letter-spacing: 3px;
  }
}

@media (max-width: 768px) {
  .delegateNowHeading {
    font-size: 1.8rem;
    letter-spacing: 2px;
    margin: 30px auto;
  }
}

@media (max-width: 576px) {
  .delegateNowHeading {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin: 20px auto;
  }
}

.delegateNowPara {
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150.023%;
  letter-spacing: 1px;
  width: 90%;
  margin: auto;
}

@media (max-width: 768px) {
  .delegateNowPara {
    font-size: 1rem;
    width: 95%;
  }
}

@media (max-width: 576px) {
  .delegateNowPara {
    font-size: 0.9rem;
    width: 100%;
  }
}

.delegateNowButton {
  border-radius: 24px;
  background: #a6ff35;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  margin: 40px auto;
  padding: 15px 15px;
  border: none;
  width: fit-content;
  font-size: 14px;
  font-weight: 700;
  line-height: 174.523%;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

@media (max-width: 830px) {
  .delegateNowButton {
    margin: 0px auto;
  }
}

@media (max-width: 768px) {
  .delegateNowButton {
    margin: 4px auto;
    padding: 12px 12px;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .delegateNowButton {
    margin: 4px auto;
    padding: 10px 10px;
    font-size: 11px;
  }
}

.textBtn {
  margin-top: 4px;
}

.btnSeeMore {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-top: -2px;
}

.link {
  text-decoration: none;
}

.linkIcon {
  height: 16px;
  width: 16px;
  margin-top: -5px;
}

.upErrow {
  font-size: 22px;
  font-weight: 900;
  margin-top: -5px;
  margin-left: 10px;
}

.delegateNowButton:hover {
  background: #8fdc2c; 
  transform: scale(1.01); 
  color: #1a0f5e; 
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); 
}

.btnGovernanceContainer {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 820px) {
  .btnGovernanceContainer {
    flex-wrap: wrap;
  }
}

@media (max-width: 730px) {
  .btnGovernanceContainer {
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .btnGovernanceContainer {
    gap: 0.8rem;
  }
}

@media (max-width: 576px) {
  .btnGovernanceContainer {
    gap: 0.5rem;
  }
}

/* Base styles for larger screens */
.contentTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

/* Media query for mobile screens (max-width: 600px) */
@media (max-width: 600px) {
  /* Stack the votes container vertically */
  .votes {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Ensure the left section takes full width */
  .left {
    width: 100%;
    display: flex;
    align-items: center;
  }

  /* Ensure the right section takes full width and appears below */
  .right {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Allow the title to wrap fully on mobile screens */
  .contentTitle {
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  /* Allow tags to wrap within chainDiv */
  .chainDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
}

/* Base styles for all screens */

.contentTitle {
  white-space: normal; /* Changed from nowrap to allow wrapping */
  overflow-wrap: break-word; /* Ensures words break and wrap */
  word-break: break-word; /* Breaks long words if necessary */
  overflow: visible; /* Prevents clipping of wrapped text */
}

.r2 {
  white-space: normal; /* Changed from nowrap to allow wrapping */
  overflow-wrap: break-word; /* Ensures words break and wrap */
  word-break: break-word; /* Breaks long words if necessary */
  overflow: visible; /* Prevents clipping of wrapped text */
}

/* Ensure voting result container supports wrapped text */
.result {
  display: flex;
  flex-direction: column; /* Stack "Voted" and result vertically if needed */
  align-items: flex-start; /* Align text to the left */
}

/* Style adjustments for r1 and r2 spans */
.r1,
.r2 {
  width: 100%; /* Take full available width */
  text-align: left; /* Align text to the left */
}

/* Media query for mobile screens (max-width: 600px) */
@media (max-width: 600px) {
  /* Stack the votes container vertically */
  .votes {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Ensure the left section takes full width */
  .left {
    width: 100%;
    display: flex;
    align-items: center;
  }

  /* Ensure the right section takes full width and appears below */
  .right {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Reinforce title wrapping on mobile screens */
  .contentTitle {
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: visible;
  }

  /* Reinforce voting result wrapping on mobile screens */
  .r2 {
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: visible;
  }

  /* Allow tags to wrap within chainDiv */
  .chainDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
}