/* Global heading styles */
h3 {
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin: 0 auto;
  line-height: 140%;  
}

/* Large screens (1024px and above) */
@media only screen and (min-width: 1024px) {
 h3 {
  font-size: 1.3rem;
  letter-spacing: 2px;
  line-height: 140%;  }
}



/* Small screens (576px to 767px) */
@media only screen and (max-width: 767px) {
   h3 {
    font-size: 1.1rem;
    letter-spacing: 2px;
    margin: 0 auto;
    line-height: 150%; 
    
     }
}

/* Extra small screens (below 576px) */
@media only screen and (max-width: 575px) {
 h3 {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 150%;

  }
}

@media only screen and (max-width: 425) {
  h3{
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 150%; 
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #0a11b5 !important;
  --sb-track-color: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #0a11b5;
  --sb-thumb-color: #a6ff35;
  --sb-size: 2px;
  text-align: center !important;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}
.slick-list {
  transform: none !important;
  width: 60%;
  margin: 0 auto !important;
  overflow: visible !important;
}
.center-slider .slick-slide {
  opacity: 0.5;
}
.slick-slider {
  width: 100% !important;
}
.slick-slide {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  transform: scale(0.8);
}

.slick-active {
  opacity: 1;
  transform: scale(1);
}
.slick-dots {
  position: absolute;

  display: block;
  width: 80%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 10px !important;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: #a6ff35 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.accordionIcon {
  width: 90px;
  height: 90px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.accordionIcon.expanded {
  transform: rotate(180deg);
}

.accordionIcon.collapsed {
  transform: rotate(0deg);
}
input[name="flexRadioNoLabel"] {
  accent-color: #a6ff35;
  border: none;
}

.layout-navbar {
  position: relative;
  z-index: 50;
}

.layout-children {
  position: relative;
  z-index: 10;
  flex-grow: 1;
}

@media only screen and (max-width: 1024px) {
  .Slxdj {
    font-size: 2em !important;
    width: 40px !important;
    height: 50px !important;
  }
  .kXteup {
    font-size: 2em !important;
    width: 40px !important;
    height: 50px !important;
  }
  .accordionIcon {
    width: 70px;
    height: 70px;
    padding: 15px;
  }
}
@media only screen and (max-width: 768px) {
 
  .accordionIcon {
    width: 60px;
    height: 50px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 575px) {
  .slick-list {
    width: 80%;
  }
  .accordionIcon {
    width: 70px;
    height: 60px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 425px) {
  .rec.rec-arrow {
    font-size: 1.5em !important;
    color: #ffffff !important;
    box-shadow: none !important;
    width: 50px !important;
    height: 50px !important;
    /* background-color: #07006A !important; */
  }
  .Slxdj {
    font-size: 0.9em !important;
    width: 26px !important;
    height: 32px !important;
  }
  .kXteup {
    font-size: 0.9em !important;
    width: 26px !important;
    height: 32px !important;
    min-width: 0px !important;
    min-width: 0px !important;
    line-height: 0px !important;
  }
  .slick-list {
    transform: none !important;
    width: 100%;
    margin: 0 auto !important;
    overflow: visible !important;
  }
  .carousel-control-next,
  .carousel-control-prev {
    width: 8%;
  }

  .homepageSecion3MainTemplate .rec-carousel {
    width: 95% !important;
    margin: 80px 0px 0px 0px;
  }
  .accordionIcon {
    width: 40px;
    height: 35px;
    padding: 5px 8px;
  }
}
